<main class="Aligner" style="background: url(assets/poc-bg.svg) no-repeat center center fixed; background-size: cover; height: 90vh;">
  <div class="Aligner-item">
    <mat-card>
        <form novalidate autocomplete="off" >
          <h2 class="heading">Password Recovery</h2>
          <div>
            <mat-form-field class="width">
              <input matInput placeholder="Email">
            </mat-form-field>
          </div>
          <button mat-raised-button class="btn">Request Password Recovery</button>
          </form>
    </mat-card>

</div>
</main>