<article>
    <mat-toolbar style="padding:0px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); color: #5878d8; ">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div fxFlex="50" style="margin-left: 55px;">
          <h5>Create Wallet</h5>
        </div>
        <div fxFlex="50" dir="rtl" style="margin-right: 45px;">
            <button mat-raised-button class="btn">LOG OUT</button>
          </div>
      </div>
    </mat-toolbar>
</article>